
.headeredTable {
    border-collapse: collapse;
    border: 1px;
    inset: 20px 100px 10px 10px;
}

.headeredTable td {
    border: 1px solid black;
    white-space: nowrap;
}

.headeredTable td.subHeader {
    text-align: center;
    font-weight: bold;
    background-color: #bac9e7;
}

.headeredTable th {
    border: 1px solid black;
}

.rowHeader {
    font-weight: bold;
    background-color: lightGrey;
    padding: 15px;
    text-align: left;

}


.nav {
}

.nav ul  {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    white-space: nowrap;
    background-color: lightgrey;

}

td.nav {
    white-space: nowrap;
    background-color: lightgrey;
    vertical-align: top
}

a.nav {
    color: #0156BB;
    font-size: large;
    text-decoration: none;
}

.happyQso {
    color: green;
}

.possibleDups {
    color: red;
}

#content {
    padding: .5in;
    background-color: lightcyan;
}

.sadQso {
    color: red;
}
.sad{
    color: red;
}

.operator {
    color:blue;
    font-size: 20pt;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
