
.happyQso {
    -fx-text-fill: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.sadQso {
    -fx-text-fill: red;
    /*-fx-stroke: red;*/
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.sameHour {
    -fx-background-color: lightgreen;
}

.ourNode {
    -fx-text-fill: gray;
}

.sad {
    -fx-text-fill: red;
}
.happy {
    -fx-text-fill: green;
}

.differentHour1 {
    -fx-background-color: lightcoral;
}
.differentHour2 {
    -fx-background-color: moccasin;
}
.differentHour3 {
    -fx-background-color: peachpuff;
}
.differentHour4 {
    -fx-background-color: orchid;
}
.differentHour5 {
    -fx-background-color: hotpink;
}
.differentHour6 {
    -fx-background-color: sandybrown;
}
.differentHour7 {
    -fx-background-color: chocolate;
}
.differentHour8 {
    -fx-background-color: tan;
}

.dupPrompt {
    -fx-font-weight: bold;
}
.sectionPrompt {
    -fx-text-fill: blue;
}

.dateTime {
    -fx-font-family: monospace;
}
.parenthetic {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: grey
}

.exchangeDisplay {
    -fx-alignment: center;
}
.exchangeBlock {
    -fx-background-color: rgba(17, 255, 0, 0.22);
    -fx-font-size: large;
    -fx-font-weight: 700;
    -fx-font: monospace;
}
TextArea {
    -fx-font-family: monospace;
}
TextField {
    -fx-font-family: monospace;
}
 
