

.qsoField {
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}
.qsoCallSign {
    -fx-max-width: 200;
}
.qsoClass {
    -fx-max-width: 60;
}
.qsoSection {
    -fx-max-width: 60;
}


.happyQso {
    -fx-text-fill: green;
}

.sadQso {
    -fx-text-fill: red;
}

.sameHour {
    -fx-background-color: lightgreen;
}

.ourNode {
    -fx-text-fill: gray;
}
.infoPane {
    -fx-background-color: #d2e8da;
    -fx-border-color: red;
    -fx-border-width: 2;
}

.sad {
    -fx-text-fill: red;
}
.happy {
    -fx-text-fill: green;
}
.hiDick {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}
.differentHour1 {
    -fx-background-color: lightcoral;
}
.differentHour2 {
    -fx-background-color: moccasin;
}
.differentHour3 {
    -fx-background-color: peachpuff;
}
.differentHour4 {
    -fx-background-color: orchid;
}
.differentHour5 {
    -fx-background-color: hotpink;
}
.differentHour6 {
    -fx-background-color: sandybrown;
}
.differentHour7 {
    -fx-background-color: chocolate;
}
.differentHour8 {
    -fx-background-color: tan;
}

.dup {
    -fx-text-fill: red;
}
.actionResult {
    -fx-font-weight: bold;
}
.sectionPrompt {
    -fx-text-fill: blue;
}
.progress {
    -fx-pref-width: 3000
}
.title {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}
.dateTime {
    -fx-font-family: monospace;
}
.parenthetic {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: grey
}

.exchangeDisplay {
    -fx-alignment: center;
}
.exchangeBlock {
    -fx-background-color: rgba(17, 255, 0, 0.22);
    -fx-font-size: large;
    -fx-font-weight: bold;
    /*-fx-font: monospace;*/
}
TextArea {
    -fx-font-family: monospace;
}
TextField {
    -fx-font-family: monospace;
}
 
