<configuration debug="false">

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.file.path}</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>


    <logger name="akka.event.slf4j.Slf4jLogger" level="TRACE"/>
    <logger name="com.codahale.metrics.graphite.GraphiteReporter" level="ERROR"/>
    <logger name="javax.management" level="INFO"/>
    <logger name="org.wa9nnn" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.http.HttpClientActor" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.entry.EntryTab" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.entry.StatisticsTab" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.model.sync.ClusterActor" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.entry.ActionResult" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.store.StoreActor" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.store.StoreLogic" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.store.network" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.model.sync.NodeStatusQueueActor" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.entry.StatisticsTab" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.cluster.FdHours" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.cluster.FdHoursDialog" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.store.network.mmulticast.MulticastIo" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.cluster.ClusterTable" level="DEBUG"/>
    <logger name="u" level="DEBUG"/>


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>