<configuration debug="false">

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.file.path}</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="javax.management" level="INFO"/>
    <logger name="org.wa9nnn.fdcluster.javafx.entry.EntryScene" level="INFO"/>
    <logger name="org.wa9nnn" level="INFO"/>


    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>